<div class="contenedor-galeria">
    <hr>
    <div class="titulo-galeria">
        <p>
            <i class="fa fa-circle" aria-hidden="true"></i>
            - jnddk mox z jnsdj
        </p>
        <div class="superiorGaleria">
            <div class="textoParrafo">
                <h1> <span>Las imagenes</span> <br> Galeria#</h1>
                </div>
            <div *ngIf="okImgGrande==true" [@enterAnimation]  >
                <div >
                    <img class="imgp"   src={{galeria[pos]}}/>
                </div>
            </div>
        </div>
    </div>

    <div id="carousel">      
        <div class="slide" (click)="agrandar(0)">
            <img src={{galeria[0]}}/>
        </div>
        <div class="slide" (click)="agrandar(1)">
            <img src={{galeria[1]}}/>
        </div>
        <div class="slide"  (click)="agrandar(2)">
            <img src={{galeria[2]}}/>
        </div>
        <div class="slide" (click)="agrandar(2)">
            <img src={{galeria[2]}}/>
        </div>
        <div class="slide" (click)="agrandar(1)">
            <img src={{galeria[1]}}/>
        </div>
        <div class="slide" (click)="agrandar(3)">
            <img src={{galeria[3]}}/>
        </div>
        <div class="slide" (click)="agrandar(0)">
            <img src={{galeria[0]}}/>
        </div>
        <div class="slide" (click)="agrandar(1)">
            <img src={{galeria[1]}}/>
        </div>  
    </div>
</div>
