<hr>

<div class="contenedorInfo2">
    <p><i class="fa fa-circle" aria-hidden="true"></i>
        - jnddk mox z jnsdj</p>
    <div class="textoParrafo">
        <div class="icon">
            <i class="fa fa-leaf 10x" aria-hidden="true"></i>
        </div>
        <h1>Title ipsum dolor sit amet consectetur.</h1>
        <h3>Subtitleorem, ipsum dolor.</h3>
        <p>Molestias ea ullam, fugiat labore porro! Maxime harum sed repellat architecto nam?</p>

        <div class="carousel-item active">
            <div class="row">
                <div class="imgChica"></div>
                <div class="imgChica"></div>

            </div>
          </div>
    </div>

    <div class="textoParrafo">
        <div class="icon2">
            <i class="fa fa-leaf 10x" aria-hidden="true"></i>
        </div>
        <h1>Lorem ipsum dolor sit amet. </h1>
        <h3>Subtitleorem, ipsum dolor.</h3>
        <p>Molestias ea ullam, fugiat labore porro! Maxime harum sed repellat architecto nam?</p>
        <p>Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, voluptate. ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, iste.</p>
    </div>
    
    
</div>
