$font: 'Rubik', sans-serif;;
$white: #f5f5f5;
$blue: rgba(43, 214, 128, 0.822);
$amarillo:rgba(169, 214, 43, 0.822);
$dark: #6d6d6b;
$dark2: #30302f;
$dark3: #a0a09f;
;
.contenedorInfo2{
    display: flex;
    flex-direction: row;
    height: 95vh;
    .icon{
        display: block;
        text-align: center;
        margin: auto;
    }
    .icon2{
        display: block;
        text-align: center;
        margin: auto;
        ;
        .fa{
            border-radius: 100%;
            color: $dark3;
        }
        font-size: 40px;
    }
    .textoParrafo{
        width: 70%;
        margin:auto;
        .carousel-item {
        display: block !important;
        margin-left: 5% !important;
        .imgChica{
                z-index: 100;
                width: 40%;
                height: 150px;
                background-image: url('/assets/1.jpg');
                background-size: 100% 100%;
                filter: grayscale(100%);
                margin-top: 5%;
                border-top-left-radius:20px ;
                border-bottom-left-radius: 20px;
        }
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 821px) {

    .contenedorInfo2{
        display: flex;
        flex-direction: column !important;
        margin-top: 5%;
        height: auto;
        .icon{
            display: block;
            text-align: center;
            margin: auto;
            margin-top: 2%;
        }
        .icon2{
            margin-top: 10px !important;
            display: block;
            text-align: center;
            ;
            .fa{
                border-radius: 100%;
                color: $dark3;
            }
            font-size: 40px;
        }
        .textoParrafo{
            width: 100%;
            .carousel-item {
            display: block !important;
            margin-left: 5% !important;
            .imgChica{
                    z-index: 100;
                    margin-right: 5%;
                    margin-left: 5%;
                    width: 60%;
                    background-image: url('/assets/1.jpg');
                    filter: grayscale(100%);
                    margin-top: 5%;
                    border-top-left-radius:20px ;
                    border-bottom-left-radius: 20px;
            }
        }
    }
  }
} 

@media screen and (min-width: 300px) and (max-width: 821px) {
    .contenedorInfo2{
        display: flex;
        flex-direction: column !important;
        margin-top: 5%;
        height: auto;
        .icon{
            display: block;
            text-align: center;
            margin: auto;
            margin-top: 2%;
        }
        .icon2{
            margin-top: 10px !important;
            display: block;
            text-align: center;
            ;
            .fa{
                border-radius: 100%;
                color: $dark3;
            }
            font-size: 40px;
        }
        .textoParrafo{
            width: 80%;
            .carousel-item {
            display: block !important;
            margin-left: 5% !important;
            .imgChica{
                    z-index: 100;
                    margin-right: 5%;
                    margin-left: 2%;
                    width: 80%;
                    background-image: url('/assets/1.jpg');
                    filter: grayscale(100%);
                    margin-top: 5%;
                    border-top-left-radius:20px ;
                    border-bottom-left-radius: 20px;
            }
        }
    }
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .contenedorInfo2{
        display: flex;
        flex-direction: column !important;
        margin-top: 5%;
        height: auto;
        .icon{
            display: block;
            text-align: center;
            margin: auto;
            margin-top: 2%;
        }
        .icon2{
            margin-top: 10px !important;
            display: block;
            text-align: center;
            ;
            .fa{
                border-radius: 100%;
                color: $dark3;
            }
            font-size: 40px;
        }
        .textoParrafo{
            width: 80%;
            .carousel-item {
            display: block !important;
            margin-left: 5% !important;
            .imgChica{
                    z-index: 100;
                    margin-right: 5%;
                    margin-left: 2%;
                    width: 80%;
                    height: 300px;
                    background-image: url('/assets/1.jpg');
                    filter: grayscale(100%);
                    margin-top: 5%;
                    border-top-left-radius:20px ;
                    border-bottom-left-radius: 20px;
            }
        }
    }
  }


}