<div class="container">
  <div class="tarjeta-texto" class="">
    <h1>Frmen Sub sit <br> constamet ...</h1>
    <h3>pleansj fnt hbnslpp pormnet.</h3>
  </div>
    <div class="card">
      <div class="texto">Lorem ipsum dolor  Cum, eius!</div>
      <div class="pic"></div>
      <button>
      </button>
    </div>
    <div class="card card2">
      <div class="texto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, eius!</div>
      <div class="pic"></div>
      <button>
      </button>
    </div>

    <div class="card card2">
      <div class="texto">sit amet consectetur, adipisicing elit. Cum, eius!</div>

      <div class="pic2"></div>
      <button>
      </button>
    </div>

    <div class="card card2">
      <div class="texto">dolor sit amet cipsum dolor sit amet consectetur adipisicing.</div>
      <div class="pic"></div>
      <button>
      </button>
    </div>


  </div>
  
