  $white: #f5f5f5;
  $blue: #03acac;
  $amarillo:rgba(169, 214, 43, 0.822);
  $dark: #6d6d6b;
  $dark2: #313115;
  $gris:rgba(105, 105, 105, 0.3);
  
  .pasafotos{
    width: 80%;
  }
  .carousel-control-prev{
    position: relative;
    top: -50px;
    color: #f5f5f5  ; 
    font-size: 20px; 
    i{
      color: white;
      border-radius: 100%;
    }
  }
  .carousel-control-next{
    position: relative;
    top: -50px;
    color: #f5f5f5  ; 
    font-size: 20px; 
    i{
      color: white;
      border-radius: 100%;
    }
  }

  .carousel-item{
    img{
      border-radius: 25px;
    }
  }


  .introduccion{
    h1{
      span{
        background-color: $blue;
        font-size: 50px;
        line-height: normal;
      }
    }
    margin-top: 5%;
    margin-left: 3%;
    width: 25%;
  }

  .parte1{
    display: flex;
    flex-direction: row;
    margin: 1%;
  }

  @media screen and (min-width: 300px) and (max-width: 821px) {
  
    .parte1{
      display: flex;
      flex-direction: column !important;
    }

    .introduccion{
      margin-top: 5%;
      margin-left:5%;
      width: 95%;
    }

    .pasafotos{
      width: 100%;
    }


  }

  @media screen and (max-width:300px) {
    .parte1{
      display: flex;
      flex-direction: column !important;
    }

    .introduccion{
      margin-top: 5%;
      margin-left:5%;
      width: 95%;
      height: auto;
    }

    .pasafotos{
      width: 100%;
    }

  }